{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class='row'>
        <form method="post" action="/">{% csrf_token %}
        <div class='col-md-3'>
            <label for='router_id'>Router:</label>
            <select name='router_id' value='1'>
                {% for entry in routers %}
                    <option value='{{ entry.id }}'>{{ entry.router_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class='col-md-3'>
            <label for 'command_choice'>Command</label>
            <select name='command_choice' value='{{ command_choice }}'>
                <option value='1' {% if command_choice == '1' %} selected{% endif %}>Show BGP Summary</option>
                <option value='2'{% if command_choice == '2' %} selected{% endif %}>Show BGP Route</option>
                <option value='3'{% if command_choice == '3' %} selected{% endif %}>Ping</option>
                <option value='4'{% if command_choice == '4' %} selected{% endif %}>Traceroute IPv4</option>
                <option value='5'{% if command_choice == '5' %} selected{% endif %}>Traceroute IPv6</option>
            </select>
        </div>
        <div class='col-md-3'>
            <label for="ip">IP/Host/CIDR:</label> 
            <input type="text" name="ip" value="{{ ip }}" />
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary" type="submit">Execute</button>
        </div>
        </form>
    </div>
        {% if data %}
            {% if command_choice == '1' %}
                <p><b>Router {{ router_name }}:</b></p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="col-md-4">Number of peers configured</th>
                            <td>{{ tot_peers }}  ({{ up_peers }} UP)</td>
                        </tr>
                        <tr>
                            <th class="col-md-4">Total routes IPv4</th>
                            <td>{{ tot_routes }}  ({{ tot_routes_installed }} installed)</td>
                        </tr>
                        <tr>
                            <th class="col-md-4">Total routes IPv6</th>
                            <td>{{ tot_routes_v6 }}  ({{ tot_routes_installed_v6 }} installed)</td>
                        </tr>
                    </tbody>
                </table>
                <h3>IPv4 Peers</h3>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class='col-md-2'>Peer address</th>
                            <th class='col-md-1'>ASN</th>
                            <th class='col-md-1'>Time</th>
                            <th class='col-md-2'>State (Active | Received | Accepted | Damped)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in data %}
                            <tr>
                            {% for col in line %}
                                <td>{{ col }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </table>
                <h3>IPv6 Peers</h3>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class='col-md-2'>Peer address</th>
                            <th class='col-md-1'>ASN</th>
                            <th class='col-md-1'>Time</th>
                            <th class='col-md-2'>State (Active | Received | Accepted | Damped)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in data_v6 %}
                            <tr>
                            {% for col in line %}
                                <td>{{ col }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row">
                    <div class="col-md-9 col-md-offset-2">
                    {% for line in data %}
                    <div class="col-md-12">
                    <code>{{ line }}</code>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}